@use "@/shared/styles/helpers" as helpers;


body {
  background-color: var(--bg-body-color);
  background-image: var(--bg-gradient);
}

html,
body {
  // height: 100%;
}

html {
  scroll-behavior: smooth;
}

body.stop-scroll {
  overflow: hidden;
  height: auto;
}

body,
.p-normal {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 142%;
  letter-spacing: 0;
  color: var(--text-color);

  @include helpers.breakpoint(md) {
    font-size: 20px;
  }
}

.p-big {
  font-weight: 700;

  @include helpers.breakpoint(md) {
    font-size: 23px;
    line-height: 122%;
  }
}

.p-small {
  letter-spacing: -0.01em;

  @include helpers.breakpoint(md) {
    font-size: 17px;
  }
}

.link {
  position: relative;
  color: var(--primary-color);
  background: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
  background-position: 100%;
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .3s;
  cursor: pointer;

  &:hover {
    background-position: 0;
    background-size: 100% 100%;
  }
}

.heading {
  margin-bottom: 60px;
}