@use "@/shared/styles/helpers" as helpers;

.h1 {
	font-weight: 700;
	font-size: 26px;
	line-height: 112%;
	letter-spacing: 0.02em;

	@include helpers.breakpoint(md) {
		font-size: 42px;
		line-height: 109%;
	}
}

.h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 112%;
  letter-spacing: 0.02em;

  @include helpers.breakpoint(md) {
    font-size: 59px;
    line-height: 124%;
    letter-spacing: 0;
  }
}

.h3 {
  font-size: 23px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.04em;

  @include helpers.breakpoint(md) {
    font-size: 35px;
    font-weight: 500;
    line-height: 122%;
    letter-spacing: 0;
  }
}

.p-normal {
  font-size: 16px;
  font-weight: 400;
  line-height: 142%;

  @include helpers.breakpoint(md) {
    font-size: 20px;
  }
}

.p-big {
  font-weight: 700;

  @include helpers.breakpoint(md) {
    font-size: 23px;
    line-height: 122%;
  }
}

.p-small {
  letter-spacing: -0.01em;

  @include helpers.breakpoint(md) {
    font-size: 17px;
  }
}
